<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.github.kiolk.cowsandbulls">

    <application
            android:name=".ReleaseApp"
            tools:replace="android:name">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>
</manifest>